@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root {
    text-align: center;
    --primary-color: #fd7272;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    
}

/* Main div */

.container {
    margin: auto;
    margin-top: 2rem;
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: #f51515;
     max-width: 900px;
     text-align: center;
}


h1 {
    margin: 1rem;
    font-size: 40px;
    font-weight: bold;
}


.notice {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    max-width: 40%;
    margin: 2rem auto;
    background-color: var(--primary-color);
}

input {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem;
    min-width: 20%;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--primary-color);
}

button {
    display: block;
    margin: 2rem auto;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: black;
    color: var(--primary-color);
    
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: black;

}

lottie-player {
    width: 70px; 
    height: 50px;
    transform: scale(3.5);
    margin: auto;
}

#output {
    display: block;
    margin: auto;
    max-width: 55%;
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

/* footer */
  
  .social-link{
    text-decoration: none;
    margin: 0rem 0.5rem;
    color: #ffc1c1;
    padding-bottom: 1rem;
}

.portfolio-link {
    text-decoration: none;
    color: #f1be7b;
    padding: 0.4rem;
    border-radius: 0.6rem;
}

.portfolio-link:hover {
    background-color: #ff5e5e;
}

